<h1>Salom, {{name}}</h1>
<h2>Iltimos, elektron pochta manzilingizni tasdiqlash uchun quyidagi tugmani bosing</h2>
<a style="font-family: Georgia">
    <a href="{{url}}">Tasdiqlash</a>
</a>

<p>Agar siz ushbu xatni so'ramagan bo'lsangiz, uni e'tiborsiz qoldirishingiz mumkin</p>


<style>
a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: none;
}
</style>